// Variables
:root {
    // Colors
    --color-primary: #605DC8;
    --color-secondary: #8B89E6;
    --color-accent: #e8e7fa;
    --shadow-color: #E8E8E8;

    // Fonts
    --font-family: 'Be Vietnam Pro', sans-serif;
}
